<a href="https://colab.research.google.com/github/davinx69/Pythosoft_1/blob/main/Pyplay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#WRITING MY FIRST PYTHON CODE

print("Hello VIncent, Welcome to Python.")

Hello VIncent, Welcome to Python.

In [9]:
#Exercise 1: Basic Math

#Addition
a = 10
b = 20
print("The sum of a and b is:", a + b)
Sola = 25
Bola = 50
print("The sum of Sola and bola age is:", Sola + Bola)


#Mutiplication
c = 5
d = 4
print("The product of c and d is:", c * d)
Banana = 5
Pupils = 25
print("The Teacher gave 25 Pupils 5 Bananas each and. How many banana do they hav altogether?", Banana * Pupils )

The sum of a and b is: 30
The sum of Sola and bola age is: 75
The product of c and d is: 20
The Teacher gave 25 Pupils 5 Bananas each and. How many banana do they hav altogether? 125

In [6]:
#Exercise 2: Working with Strings
name1 = 'Vincent'
name2 = 'Tunde'
print("Hello " + name + " ! How are you today?")

Hello Vincent ! How are you today?

In [14]:
#Exercise 3: Using Loops
#print numbers from 1 - 5
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9